<% include ./partials/header %>
<link rel="stylesheet" href="/certificate.css">
</head>
<body>
  <!-- <% include ./partials/navbar %> -->
<div class="container">

        
        <div class="card my-5">
                
          <div class="card-body text-center">
                
                <div id="user-info">
                <img id="logo" src="/assets/inventologo.png" alt="">
                <div id="congratulations" class="card-title">Certificate of Participation</div>

                    <div class="card-text">This is to certify that <strong>Mr./Ms. <%= user.fullName%></strong> participated in the Invento Quiz Contest</div>
                    <br>
                    Score: <strong><%= score %>/15</strong>
               
                </div>

                <br>
              <div id="buttons" class="text-center">
                <a class="btn btn-sm mr-2" id="accept" href="/certificate"><i class="fas fa-download"></i> Download</a>
                <a class="btn btn-sm mr-2" id="reject" href="/auth/logout">Sign Out</a>

              </div>
      
          </div>
        </div>
      </div>

<% include ./partials/footer %>