<% include ./partials/header %>
<link rel="stylesheet" href="/developers.css">
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-default">
        <div class="container">
            <a class="navbar-brand" href="#">
              <img src="../../assets/invento_logo_vector_1.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-3 ">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link" href="http://www.invento2k19.in" target="blank">About Invento</a>
                </li>
                <li class="nav-item mx-3 active">
                    <a class="nav-link" href="/developers">Developers<span class="sr-only">(current)</span></a>
                  </li>
              </ul>
            </div>
        </div>
      
        
      </nav>

<div class="container">
  <!-- <div class="card-title text-center" style="color: #676767;">Our Developers</div> -->
<div class="row">
  <div class="col-12 col-md-6">

      <div class="card my-5 text-center">
                
          <div class="card-body text-center">
                
                <div class="card-title">Suryansh Sugandhi</div>
                <p class="card-text text-secondary">MEAN stack and Python</p>
                <img class="profile-pic" src="/assets/suryansh.jpeg" alt="">
              
              <div id="buttons">
                <a class="btn btn-sm mr-2" id="accept" target="blank" href="http://www.github.com/suryanshsugandhi"><i class="fab fa-github"></i></a>
                <a class="btn btn-sm mr-2" id="accept" target="blank" href="https://www.linkedin.com/in/suryanshsugandhi/"><i class="fab fa-linkedin"></i> </a>
                <a class="btn btn-sm mr-2" id="accept" target="blank" href="http://www.instagram.com/suryaaaansh"><i class="fab fa-instagram"></i></a>

              </div>
      
          </div>
        </div>
  </div>

  <div class="col-12 col-md-6">

      <div class="card my-5 text-center">
                
          <div class="card-body text-center">
                
                <div class="card-title">Aman Sohani</div>
                <p class="card-text text-secondary">MEN stack developer</p>
                <img class="profile-pic" src="/assets/aman.jpeg" alt="">
              
              <div id="buttons">
                <a class="btn btn-sm mr-2" id="accept" target="blank" href="http://github.com/amansohani222"><i class="fab fa-github"></i></a>
                <a class="btn btn-sm mr-2" id="accept" target="blank" href="http://www.linkedin.com/in/aman-sohani-310478148"><i class="fab fa-linkedin"></i> </a>
                <a class="btn btn-sm mr-2" id="accept" target="blank" href="http://www.instagram.com/amansohani13/"><i class="fab fa-instagram"></i></a>

              </div>
      
          </div>
        </div>
  </div>

</div>
        
      </div>

<% include ./partials/footer %>

