<% include ./partials/header %>
<link rel="stylesheet" href="/login.css">
</head>

<body>
    <div class="container">
        <div class="card my-5">
            <div class="card-body">
                <div class="titel">
                    <div class="card-title">Sign Up to Play!</div>
                    <div class="card-text text-secondary"><strong>Note:</strong> You can only play once with a single
                        account</div>
                </div>

                <div id="buttons">
                    <a href="/auth/google"  id="google-btn" class="p-2 m-2"><img
                            src="/assets/google.png" alt="" class="mx-2"><strong> Login with Google</strong></a>
                    <a href="/auth/facebook" id="facebook-btn" class="p-2 m-2"><img
                            src="/assets/facebook.png" alt="" class="mx-2"><strong> Login with Facebook</strong></a>
                </div>


            </div>




        </div>
        <div id="privacy-statement" class="m-2 text-left">
            <strong style="color: rgba(141, 45, 226, 0.705);">
                We Respect Your Privacy!
            </strong>

            <br>
            Any and all information collected at this site will be kept strictly confidential and will not be sold,
            rented, loaned, or otherwise disclosed.
        </div>
    </div>
<% include ./partials/footer %>