<% include ./partials/header %>
<link rel="stylesheet" href="/rules.css">
<div class="container">
        <div class="card my-5">
          <div class="card-body">
                <div class="card-title">Quiz Rules</div>
                <div class="card-text text-secondary"><strong>Note:</strong>Please read the rules of the quiz carefully</div>    
        
            <div class="card-text text-left">
                Please read the instructions carefully:
                <ol>
                  <li>
                    Register with your email id and other details in order to take part in the quiz.
      
                  </li>
                  <li>
                      The Quiz consists of 30 questions, with equal points to each question.
                  </li>
                  <li>
                      The time alloted for each question is 45 seconds.
      
                  </li>
                  <li>
                    Top 5 performers in the city would receive INVENTO entry passes and other exciting prizes.
      
                  </li>
                  <li>
                    All the participants who complete the quiz will recieve digital certificates with their score in it.
      
                  </li>
                  <li>
                    A score of minimum 75% is required to get shortlisted.
      
                  </li>
                  <li>
                Any decision made by the jury will be final and binding on all participants.
      
                  </li>
                </ol>
                Rules: 
                <ol>
                  <li>
                    As soon as you enter the quiz the timer will start and would stop only when it reaches its limit.
                  </li>
                  <li>
                    Changing the tab on the computer will result in disqualification.
                  </li>
                  <li>
                    Around 100 participants who scored 75% or more will get shortlisted and  then 5 participants will be selected randomly.
                  </li>
                </ol>
                
              </div>
              
              <div id="buttons">
                <a class="btn btn-sm mr-2" id="accept" href="/question">Accept</a>
                <a class="btn btn-sm mr-2" id="reject" href="/auth/logout">Sign Out</a>
              </div>
      
          </div>
        </div>
      </div>

<% include ./partials/footer %>

