<% include ./partials/header %>
<link rel="stylesheet" href="/rules.css">
<div class="container">
        <div class="card my-5">
          <div class="card-body">
                <div class="card-title">Quiz Rules</div>
                <div class="card-text text-secondary"><strong>Note:</strong>Please read the rules of the quiz carefully</div>    
        
            <div class="card-text text-left">
                Rules:
                <ol>
                  <li>
                    Register with your email id and other details in order to take part in the quiz.
      
                  </li>
                  <li>
                      The Quiz consists of around 15 questions, with equal points to each question.
                  </li>
                  <li>
                The participant needs to answer these questions within a time limit of 10 minutes.
      
                  </li>
                  <li>
                A score of about 75% or more is required to get shortlisted.
      
                  </li>
                  <li>
                Top five performers in the city would receive INVENTO entry passes and other exciting prizes.
      
                  </li>
                  <li>
                All the participants who complete the quiz would receive a digital certificate of participation with their score on it.
      
                  </li>
                  <li>
                Any decision made by the jury will be final and binding on all participants.
      
                  </li>
                </ol>
                Terms: 
                <ol>
                  <li>
                The time limit of the quiz is 10 minutes. Once the participant enters the quiz, the timer would start. This timer would stop only when it reaches the limit. Any attempts to change the tab or reload it would result in an automatic submission of your answers.
      
                  </li>
                  <li>
                      Around 100 participants whose scores are 75% or more would be shortlisted and then randomly 5 participants would be selected.
      
                  </li>
                  <li>
                      These 5 participants would receive special perks including goodies, invento merch, food coupons and the best, INVENTO entry passes.
      
                  </li>
                </ol>
                
              </div>
              
              <div id="buttons">
                <a class="btn btn-sm mr-2" id="accept" href="/question">Accept</a>
                <a class="btn btn-sm mr-2" id="reject" href="/auth/logout">Sign Out</a>
              </div>
      
          </div>
        </div>
      </div>

<% include ./partials/header %>

